<!DOCTYPE html>
<html>
<head>
  <title>Medical Chatbot</title>
  <link rel="stylesheet" href="style.css">
</head>
<style> 
/* Your CSS styling here */
</style>
<body>
  <div class="chat-box">
    <ul class="chat-messages">
      <% chatMessages.forEach(function(message) { %>
        <li class="chat-message <%= message.user === "You" ? "your-message" : "bot-message" %>">
          <%= message.content %>
          <%console.log(message.content)%>
        </li>
      <% }); %>
    </ul>
    <input type="text" id="user-input" placeholder="Enter your message here...">
    <button id="send-message">Send</button>
  </div>
  <script>
    // Your JavaScript code here
  </script>
</body>
</html>

