<!DOCTYPE html>
<html>
  <head>
    <title>Chatbot Conversation</title>
  </head>
  <body>
    <h1>Chatbot Conversation</h1>
    <div>
      <% for (let line of conversation) { %>
      <p><%= line %></p>
      <% } %>
    </div>
  </body>
</html>
